import React, { useState, useEffect } from 'react'
import * as S from './styles'

// type HeaderProps = PropsWithChildren<{}>

  const {{pascalCase name}} = () => {
  return (
  <S.Section>
    <S.Container class="container">
      <h1>Hello {{pascalCase name}}</h1>
      <p>Boilerplate ReactJS</p>
    </S.Container>
  </S.Section>
  )
  }

  export default {{pascalCase name}}
